.descr {
  background-color: #1B191C;
  padding-top: 120px; 
  &_wrapper {
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    &-text {
      width: 672px;
      color: #fff;
      &--title {
        font-size: 48px;
        line-height: 52px;
        font-weight: 400;
        margin-bottom: 40px;
      }
      &--subtitle {
        font-size: 24px;
        line-height: 32px;
        font-weight: 100;
      }
    }
    &-img {
      width: 628px;
      height: 248px;  
    }
  }
}

@media(max-width: 1024px) {
  .descr {
    &_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &-text {
        text-align: center;
      }
      &-img {
        margin-top: 60px;
      }
    }
  }
}

@media(max-width: 425px) {
  .descr {
    &_wrapper {
      padding-bottom: 40px;
      &-text {
        width: 372px;
      }
      &-img {
        margin: 0 auto;
        margin-top: 60px;
        margin-left: 20px;
        width: 358px;
        height: 148px;  
        img {
          width: 358px;
          height: 148px; 
        }
      }
    }
  }
}

@media(max-width: 375px) {
  .descr_wrapper-img {
    width: 328px;
    height: 148px; 
    margin-left: 10px;
    img {
      width: 328px;
      height: 148px; 
    }
  }
}

@media(max-width: 320px) {
  .descr_wrapper-text {
    width: 302px;
  }
  .descr_wrapper-img {
    width: 300px;
    height: 148px; 
    margin-left: 8px;
    img {
      width: 300px;
      height: 148px; 
    }
  }
}