.header {
  padding: 40px;
  padding-bottom: 120px;
  &_wrapper {
    &__text {
      margin: 0 auto;
      text-align: center;
      width: 492px;
      margin-bottom: 40px;
      color: #ffffff;
      text-shadow: 2px 0 2px #000000,
                                0 2px 2px #000000, 
                                -2px 0 2px #000000, 
                                0 -2px 2px #000000;
      &_title {
        font-size: 48px;
        line-height: 52px;
      }
      &_subtitle {
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
      }
    }
  }
}

@media(max-width: 425px) {
  .header {
    padding: 20px;
  }
  .header_wrapper {
    &__text {
      width: 302px;
    }
  }
}
@media(max-width: 320px) {
  .header {
    padding: 10px;
  }
}
