.TaV {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  &-time {
    display: flex;
    align-items: end;
  }
}

.VolumeInp {
  height: 5px;
  margin-bottom: 8px;
}

.VolumeInp[type=range] {
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;

}
.VolumeInp::-webkit-slider-runnable-track {
height: 7px;
background-color: #FFFFFF;
}

.VolumeInp[type=range]::-webkit-slider-thumb {
background: #464545;
cursor: pointer;
width: 15px;
height: 15px;
-webkit-appearance: none;
margin-top: -4px;
box-shadow: -200px  0 0 200px  #000000;
}

.VolumeInp[type=range]::-moz-range-track {
height: 7px;
background-color: #FFFFFF;
}

