@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('../sass/header.scss');
@import url('../sass/descr.scss');
@import url('../sass/descrInfo.scss');

.container {
  width: 1336px;
  margin: 0 auto;
}

body {
  background-color: #EEEEEE;
}

* {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}
.active {
  color:#F5F6F7;
  border-bottom: 1px solid #F5F6F7;
  opacity: 1;
}

.opacify {
  display: none;
}

