@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('../sass/header.scss');
@import url('../sass/descr.scss');
@import url('../sass/descrInfo.scss');

.container {
  width: 1336px;
  margin: 0 auto;
}

.img-back {
  background-image: url('../assets/gitar.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

* {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}
.active {
  color:#F5F6F7;
  border-bottom: 1px solid #F5F6F7;
  opacity: 1;
}

.opacify {
  display: none;
}

@media(max-width: 1024px) {
  .container {
    width: 780px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 425px) {
  .container {
    width: 400px;
  }
}
@media(max-width: 375px) {
  .container {
    width: 350px;
  }
}
@media(max-width: 320px) {
  .container {
    width: 320px;
  }
}


