@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.container {
  width: 1336px;
  margin: 0 auto;
}

body {
  background-color: #EEEEEE;
}

* {
  font-family: 'Space Grotesk', sans-serif;
}