.btn-back {
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 20px;
}

.full-audio {
  margin-top: 60px;
  margin-left: 350px;
  &-wrapper {
    padding: 20px;
    width: 520px;
    height: 158px;
    background-color: #CFD3D6;
  }
}

@media(max-width: 1024px) {
  .full-audio {
    margin-left: 75px;
  }
}
@media(max-width: 768px) {
  .full-audio {
    margin-left: 35px;
  }
}
@media(max-width: 425px) {
  .full-audio {
    margin-left: 9px;
    &-wrapper {
      width: 300px;
    }
  }
}
@media(max-width: 375px) {
  .full-audio {
    margin-left: 9px;
    &-wrapper {
      width: 250px;
    }
  }
}
@media(max-width: 320px) {
  .full-audio {
    margin-left: 5px;
  }
}

